@import '~antd/dist/antd.css';
:root {
  --butterWhite: #F9F9F9;
  --mainDarkGreen: #496030;
}
.container {
  width: 100%;
  align-self: center;
  margin: auto;
}
.main-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.ant-layout-header {
  display: flex;
  background-color: var(--butterWhite);
  width: 100vw;
  /* align-self: center; */
  height: 9vw;
  
}
.headerBgc {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 18vw;
  align-self: center;
}
.headerName {
  font-size: x-large;
  color: var(--mainDarkGreen);
}
.homeMember {
  width: 2vw;
}
.mgl {
  margin-left: 4vw;
}
.homeBag {
  width: 2vw;
}