@import '~antd/dist/antd.css';
:root {
  --butterWhite: #F9F9F9;
  --mainDarkGreen: #496030;
  --wordWhite: #FFF;
  --footerGreen: #314120;
  --wordDarkGreen: #222E16;
  --hoverBlue: #2C625A;
  --mainLightGreen: #DDDEA7;
  --mainMediumGreen: #94A366;
  --lightGreen: #9ABAB6;
}
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}
.main-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.ant-layout-content {
  background-color: var(--butterWhite);
}
/* homeheader~70 */
.ant-layout-header {
  display: flex;
  background-color: transparent;
  width: 100vw;
  height: 14vh;
}
.headerBgc {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 18vw;
  align-self: center;
}
.homeHeaderName {
  font-size: 1.8vw;
  color: var(--wordWhite);
}
.homeHeaderName:hover {
  color: var(--wordWhite);
}
.headerName {
  font-size: 1.8vw;
  color: var(--mainDarkGreen);
}
.headerName:hover {
  color: var(--mainDarkGreen);
}
.homeMember {
  width: 2vw;
}
.mgl-4 {
  margin-left: 4vw;
}
.pdb-10 {
  padding-bottom: 10px;
}
.homeBag {
  width: 2vw;
  cursor: pointer;
}
.ant-drawer-body {
  background-color: var(--mainMediumGreen);
  padding: 0.5vw;
}
.drawerName {
  color: white;
  font-size: 2vw;
  margin: 3vh 2vw;
  font-weight: 500;
}
.drawerTitle {
  color: white;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.drawerContent {
  color: white;
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 2vw;
  margin-bottom: 2vw;
  letter-spacing: 0.1vw;
}
.drawerLine {
  width: 95%;
}
.drawerLineBox {
  display: flex;
  justify-content: center;
}
.drawerContentRight {
  color: white;
  font-size: 1.3vw;
  font-weight: 500;
  margin-top: 2vw;
  margin-bottom: 2vw;
  letter-spacing: 0.1vw;
}
.drawerBtnToCart {
  color: white;
  border-color: white;
  border-radius: 0.6vw;
  border-width: 0.25vw;
  border-style: solid;
  width: 12vw;
  font-size: 1.2vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
  height: 3.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawerBtnBox {
  display: flex;
  justify-content: end;
  margin-right: 1vw;
}
/* home~106 */
.entryLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  justify-content: center;
}
.homeTitle {
  width: 24vw;
}
.entryLeftImg {
  width: 22vw;
  margin-right: 2vw;
  margin-top: 2.5vh;
}
.toLogin {
  content: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-home-toLogin.png');
  background-size: contain;
  margin-top: 5.5vh;
}
.toStores {
  content: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-home-toStore.png');
  background-size: contain;
}
.toLogin:hover {
  content: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-home-toLoginHover.png');
  background-size: contain;
}
.toStores:hover {
  content: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-home-toStoreHover.png');
  background-size: contain;
}
.banner {
  height: 100vh;
}
/* footer~120 */
.layout-footer-home {
  background-color: var(--footerGreen);
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerContent {
  color: var(--wordWhite);
  font-weight: 400;
  font-size: 1.5vw;
}
/* StoreList~230 */
.storeSlogan {
  color: var(--mainDarkGreen);
  font-weight: bold;
  font-size: 2.2vw;
  font-family: Helvetica, Arial, sans-serif;
}
.storeBgc {
  margin-top: 15vh;
  padding: 0 7vw;
}
.addMenuBtn {
  font-weight: 500;
  font-size: 1.4vw;
  color: var(--wordWhite);
  letter-spacing: 0.1vw;
  border-radius: 0.5vw;
  width: 12.2vw;
  height: 3.3vw;
  background-color: var(--mainDarkGreen);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}
.addMenuPlus {
  font-size: 2vw;
  padding-right: 4px;
  margin-bottom: 3px;
}
.addMenuBtn:hover {
  color: var(--wordWhite);
  background-color: var(--hoverBlue);
}
.listBgc {
  margin-top: 6vh;
  margin-bottom: 5vh;
}
.listBox {
  height: 68.5vh;
  padding: 0 1vw;
}
.storeDot {
  width: 1.1vw;
}
.listTitle {
  color: var(--wordDarkGreen);
  font-size: 2.3vw;
  margin-left: 0.8vw;
}
.listTitleAll {
  display: flex;
  align-items: center;
}
.cardBox {
  height: 91%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: rgba(221, 222, 167, 0.5);
  width: 95%;
  height: 21vh;
  border-radius: 0.6vw;
  padding: 1vh 0.5vw;
  margin-top: 2vh;
  border-color: transparent;
}
.storeLine {
  height: 16.8vh;
  margin-top: -7vh;
  width: 0.6vh;
}
.ant-card-head {
  margin-left: 2.55vw;
  border-bottom: none;
}
.ant-card-head-title {
  color: var(--wordDarkGreen);
  font-size: 1.7vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
}
.storeInformation {
  color: var(--wordDarkGreen);
  font-size: 1.2vw;
  font-weight: 500;
}
.informationDetail {
  margin-bottom: 0.8vh;
}
.storeToMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8vh;
  background-color: rgba(249,249,249,0.8);
  margin-bottom: 0.5vh;
  border-radius: 0.2vw;
}
.storeToMenuWord {
  color: var(--wordDarkGreen);
  font-size: 1.2vw;
  font-weight: 500;
}
.storeToMenuWord:hover {
  color: var(--wordDarkGreen);
}
/* AddStore~359 */
.addBgc {
  background-color: var(--mainLightGreen);
  width: 100%;
  height: 100vh;
  padding-top: 22vh;
}
.typeBtnBox {
  display: flex;
}
.activeFoodsBtn {
  height: 7.4vh;
  width: 12.2vw;
  border-style: solid;
  border-radius: 3.6vh;
  border-color: var(--butterWhite);
  background-color: var(--mainMediumGreen);
  color: var(--butterWhite);
  font-size: 2vw;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 2.8vw;
}
.typeBtn {
  height: 7.4vh;
  width: 12.2vw;
  border-style: solid;
  border-radius: 3.6vh;
  border-color: var(--butterWhite);
  color: var(--wordDarkGreen);
  font-size: 2vw;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.typeBtn:hover {
  background-color: var(--mainMediumGreen);
  color: var(--butterWhite);
}
.activeDrinksBtn {
  margin-left: 2.8vw;
  height: 7.4vh;
  width: 12.2vw;
  border-style: solid;
  border-radius: 3.6vh;
  border-color: var(--butterWhite);
  background-color: var(--mainMediumGreen);
  color: var(--butterWhite);
  font-size: 2vw;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.addForm {
  padding-left: 6vw;
  padding-right: 9vw;
}
.formItem {
  margin-top: 5vh;
  border-bottom: var(--butterWhite) 0.4vw solid;
  height: 7.5vh;
  padding-left: 0.4vw;
}
.formItemTitle {
  color: var(--wordDarkGreen);
  font-size: 1.4vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  height: 6vh;
  display: flex;
  align-items: center;
  border-right: var(--butterWhite) 0.2vw solid;
}
.addCancelBtn {
  color: var(--mainDarkGreen);
  background-color: var(--butterWhite);
  width: 11.4vw;
  height: 7vh;
  font-size: 1.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8vh;
  letter-spacing: 0.1vw;
}
.addBtns {
  margin-top: 6vh;
  display: flex;
}
.addCreateBtn {
  color: var(--butterWhite);
  background-color: var(--lightGreen);
  width: 11.4vw;
  height: 6.9vh;
  font-size: 1.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8vh;
  letter-spacing: 0.1vw;
  border-color: transparent;
}
.addCreateBtn:hover, .addCreateBtn:focus {
  background-color: var(--lightGreen);
  border-color: transparent;
  color: var(--butterWhite);
}
.addInputs {
  height: 7vh;
  background-color: transparent;
  width: 110%;
  border-style: none;
  outline: none;
  font-size: 1.3vw;
}
.ant-input:focus {
  box-shadow: none;
}
.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  background-color: transparent;
  border: none;
}