@import '~antd/dist/antd.css';
:root {
  --butterWhite: #F9F9F9;
  --mainDarkGreen: #496030;
  --wordWhite: #FFF;
  --footerGreen: #314120;
  --wordDarkGreen: #222E16;
  --hoverBlue: #2C625A;
  --mainLightGreen: #DDDEA7;
  --mainMediumGreen: #94A366;
  --lightGreen: #9ABAB6;
  --lightGray: #727272;
  --infoBgBlack: #323232;
  --yesRed: #F75600;
  --noYellow: #EBC649;
}
/* general~31 */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}
.main-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.ant-layout-content {
  background-color: var(--butterWhite);
}
/* homeheader~231 */
.ant-layout-header {
  display: flex;
  background-color: transparent;
  width: 100vw;
  height: 14vh;
}
.headerBgc {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 18vw;
  align-self: center;
}
.homeHeaderName {
  font-size: 1.8vw;
  color: var(--wordWhite);
  margin-left: 4vw;
}
.homeHeaderName:hover {
  color: var(--wordWhite);
}
.headerName {
  font-size: 1.8vw;
  color: var(--mainDarkGreen);
  margin-left: 4vw;
}
.headerName:hover {
  color: var(--mainDarkGreen);
}
.homeMember {
  width: 2vw;
  margin-left: 4vw;
  padding-bottom: 10px;
}
.homeBag {
  width: 2vw;
  cursor: pointer;
  margin-left: 4vw;
  padding-bottom: 10px;
}
.homeBagMobile {
  width: 7vw;
}
.homeMemberMobile {
  width: 6.8vw;
  margin-left: 6vw;
}
.ant-drawer-body {
  background-color: var(--mainMediumGreen);
  padding: 0.5vw;
}
.drawerName {
  color: white;
  font-size: 2vw;
  margin: 3vh 1vw;
  font-weight: 500;
}
.drawerNameMobile {
  color: white;
  font-size: 5vw;
  margin: 3vh 2vw;
  font-weight: 500;
}
.drawerTitleMobile {
  color: white;
  font-size: 4vw;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.drawerTitle {
  color: white;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.drawerContent {
  color: white;
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 2vw;
  margin-bottom: 2vw;
  letter-spacing: 0.1vw;
}
.drawerContentMobile {
  color: white;
  font-size: 3.5vw;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 5vw;
  margin-bottom: 5vw;
  letter-spacing: 0.1vw;
}
.drawerLine {
  width: 95%;
}
.drawerLineBox {
  display: flex;
  justify-content: center;
}
.drawerContentRight {
  color: white;
  font-size: 1.3vw;
  font-weight: 500;
  margin-top: 2vw;
  margin-bottom: 2vw;
  letter-spacing: 0.1vw;
}
.drawerContentRightMobile {
  color: white;
  font-size: 3.5vw;
  font-weight: 500;
  margin-top: 5vw;
  margin-bottom: 5vw;
  letter-spacing: 0.1vw;
}
.drawerBtnToCart {
  color: white;
  border-color: white;
  border-radius: 0.6vw;
  border-width: 0.25vw;
  border-style: solid;
  width: 12vw;
  font-size: 1.2vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
  height: 3.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawerBtnToCartMobile {
  color: white;
  border-color: white;
  border-radius: 1.4vw;
  border-width: 0.6vw;
  border-style: solid;
  width: 32vw;
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
  height: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawerBtnBox {
  display: flex;
  justify-content: end;
  margin-right: 1vw;
}
.drawerIcon1 { 
  width: 8vw;
  margin: 0 5vw;
}
.drawerIcon2 { 
  width: 7vw;
  margin: 0 5vw;
}
.drawerIcon3 { 
  width: 7vw;
  margin: 0 5vw;
}
.drawerDivider {
  border-top: 0.1vw solid white;
}
.drawerItem1 {
  margin-top: 12vh;
  background-image: url(https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/img-menu-bg.png);
  background-repeat: no-repeat;
  height: 6vh;
  display: flex;
  align-items: center;
  background-size: 86%;
  margin-bottom: 3vh;
  color: black;
}
.drawerItem2, .drawerItem3 {
 color: white;
 margin-top: 3vh;
}
.drawerItem2:focus, .drawerItem3:focus {
  color: white;
 }
.drawerItem {
  font-size: 5vw;
  letter-spacing: 0.1vw;
  text-decoration: none;
}
.drawerItem1:focus {
  color: black;
}
.toLogoutModal {
  font-size: 1.4vw;
  padding: 5vw;
}
.toLogoutModal .ant-btn-primary {
  background-color: var(--mainDarkGreen);
  background: var(--mainDarkGreen);
  border: none;
  outline: none;
}
/* home~351 */
.entryLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26vh;
}
.entryLeftMobile {
  display: flex;
  flex-direction: column;
  margin-top: 13.5vh;
  padding: 0 5.5vw;
}
.homeTitle {
  width: 24vw;
}
.homeTitleMobile {
  width: 70vw;
}
.entryLeftImg {
  width: 22vw;
  margin-right: 2vw;
  margin-top: 2vh;
}
.toLogin {
  content: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-home-toLogin.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.toStores {
  content: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-entry-toOrderSolo.png');
  background-size: contain;
}
.toLogin:hover {
  content: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-entry-toLoginHover.png');
  background-size: contain;
}
.toStores:hover {
  content: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-entry-toOrderSoloHover.png');
  background-size: contain;
}
.toGroupStores {
  content: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-entry-toGroupOrder.png');
  background-size: contain;
}
.toGroupStores:hover {
  content: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-entry-toGroupOrderHover.png');
  background-size: contain;
}
.banner {
  height: 100vh;
}
.bannerMobile {
  width: 100%;
  margin-top: 3.5vh;
}
.searchBtnEntry {
  background-color: var(--hoverBlue);
  color: white;
  border: none;
  width: 32%;
  font-size: 1.4vw;
  height: 5.8vh;
  border-radius: 0.4vw;
  cursor: pointer;
}
.searchBtnEntryMobile {
  background-color: var(--hoverBlue);
  color: white;
  border: none;
  width: 30%;
  font-size: 4.5vw;
  height: 80%;
  border-radius: 1.6vw;
  cursor: pointer;
}
.entrySearchBgc {
  border-radius: 0.6vw;
  background-color: #EEEEEE;
  box-shadow: 0 0.2vh 0.3vw 0.2vw rgba(114, 114, 114, 0.2);
  display: flex;
  align-items: center;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  width: 66%;
  height: 7.5vh;
  align-self:flex-end;
  margin-right: 5vw;
  margin-top: 4.5vh;
  margin-bottom: 1.5vh;
}
.entrySearchBgcMobile {
  border-radius: 0.6vw;
  background-color: #EEEEEE;
  box-shadow: 0 0.2vh 0.3vw 0.2vw rgba(114, 114, 114, 0.2);
  display: flex;
  align-items: center;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  height: 6vh;
  margin-top: 2.5vh;
}
.entrySearchInput {
  width: 68%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 0.8vw;
  font-size: 1.4vw;
}
.entrySearchInputMobile {
  width: 68%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 3%;
  font-size: 4vw;
}
.homeToLoginMobile {
  margin-top: -20vh;
  align-self: center;
}
.homeToImgMobile {
  width: 56vw;
}
.homeToStoreMobile {
  margin-top: 2vh;
  align-self: center;
}
/* footer~365 */
.layout-footer-home {
  background-color: var(--footerGreen);
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerContent {
  color: var(--wordWhite);
  font-weight: 400;
  font-size: 1.5vw;
}
/* StoreList~836 */
.storeSlogan {
  color: var(--mainDarkGreen);
  font-weight: 600;
  font-size: 2vw;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  letter-spacing: 0.1vw;
}
.groupStoreListGetACode{
  color: var(--mainDarkGreen);
  font-weight: 600;
  font-size: 1.5vw;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  text-shadow: 0.1em 0.1em 0.2em #C1C1C1;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2.4vw;
  cursor: pointer;
}
.groupStoreListCancel {
  color: var(--mainDarkGreen);
  font-weight: 600;
  font-size: 1.5vw;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  text-shadow: 0.1em 0.1em 0.2em #C1C1C1;
  cursor: pointer;
}
.groupStoreListCancel:hover {
  color: var(--mainDarkGreen);
}
.groupStoresSlogan {
  font-weight: 500;
  justify-content: space-between;
  letter-spacing: 0;
}
.groupStoreListStraightLine {
  height: 6vh;
}
.toGroupOrderPage {
  width: 100%;
}
.storeSloganMobile {
  color: var(--mainDarkGreen);
  font-weight: 600;
  font-size: 5.8vw;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.2vw;
}
.storeBgc {
  margin-top: 15vh;
  padding: 0 7vw;
}
.storeBgcMobile {
  margin-top: 14vh;
  padding: 0 7vw;
}
.addMenuBtn {
  font-weight: 500;
  font-size: 1.4vw;
  color: var(--wordWhite);
  letter-spacing: 0.1vw;
  border-radius: 0.5vw;
  width: 12.2vw;
  height: 3.3vw;
  background-color: var(--mainDarkGreen);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}
.groupAddMenuBtn {
  font-weight: 500;
  font-size: 1.4vw;
  color: var(--wordWhite);
  letter-spacing: 0.1vw;
  border-radius: 0.5vw;
  width: 12.2vw;
  height: 3.3vw;
  background-color: var(--mainDarkGreen);
  display: flex;
  justify-content: center;
  align-items: center;
}
.addStoreMobile {
  width: 10vw;
  margin-left: 3vw;
  margin-top: 1vh;
}
.addMenuPlus {
  font-size: 2vw;
  padding-right: 4px;
  margin-bottom: 3px;
}
.addMenuBtn:hover {
  color: var(--wordWhite);
  background-color: var(--hoverBlue);
}
.listBgc {
  margin-top: 6vh;
  margin-bottom: 5vh;
}
.listBgcMobile {
  margin-bottom: 5vh;
  margin-top: 1vh;
}
.listBox {
  height: 68.5vh;
  padding: 0 1vw;
}
.tabBox {
  width: 100%;
}
.storeDot {
  width: 1.1vw;
}
.storeDotMobile {
  width: 2.6vw;
}
.listTitle {
  color: var(--wordDarkGreen);
  font-size: 2.3vw;
  margin-left: 0.8vw;
}
.listTitleAll {
  display: flex;
  align-items: center;
}
.cardBox {
  height: 91%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: rgba(221, 222, 167, 0.5);
  width: 95%;
  height: 21vh;
  border-radius: 0.6vw;
  padding: 1vh 0.5vw;
  margin-top: 2vh;
  border-color: transparent;
}
.cardMobile {
  background-color: rgba(221, 222, 167, 0.5);
  width: 95%;
  height: 12vh;
  border-radius: 2.5vw;
  padding: 1vh 0.5vw;
  margin-top: 2vh;
  border-color: transparent;
}
.storeLine {
  height: 16.8vh;
  margin-top: -7vh;
  width: 0.6vh;
}
.storeLineMobile {
  height: 9vh;
  margin-top: -10.5vh;
  width: 0.45vh;
}
.ant-card-head {
  margin-left: 2.55vw;
  border-bottom: none;
}
.cardBoxMobile .ant-card-head {
  margin-left: 7vw;
  border-bottom: none;
}
.cardBoxMobile .ant-card-head-title {
  color: var(--wordDarkGreen);
  font-size: 3.8vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
}
.ant-card-head-title {
  color: var(--wordDarkGreen);
  font-size: 1.7vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
}
.storeInformation {
  color: var(--wordDarkGreen);
  font-size: 1.2vw;
  font-weight: 500;
}
.informationDetail {
  margin-bottom: 0.8vh;
}
.informationDetailMobile {
  margin-top: -6.5vh;
  margin-left: 0.8vw;
}
.informationDetailMobile2 {
  margin-left: 0.8vw;
}
.listBgcMobile .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--mainDarkGreen);
  font-size: 6vw;
}
.listBgcMobile .ant-tabs-tab-btn {
  color: var(--lightGreen);
  font-size: 6vw;
}
.listBgcMobile .ant-tabs-ink-bar {
  background: var(--mainDarkGreen);
}
.listBgcMobile .ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
  margin-bottom: 0;
}
.storeToMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8vh;
  background-color: rgba(249,249,249,0.8);
  margin-bottom: 0.5vh;
  border-radius: 0.2vw;
}
.storeToMenuMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8vh;
  text-decoration: underline;
  margin-bottom: 0.5vh;
  border-radius: 0.2vw;
}
.storeToMenuWord {
  color: var(--wordDarkGreen);
  font-size: 1.2vw;
  font-weight: 500;
  cursor: pointer;
}
.storeToMenuWordMobile {
  color: var(--wordDarkGreen);
  font-size: 1.2vw;
  font-weight: 400;
  cursor: pointer;
}
.storeToMenuWord:hover {
  color: var(--wordDarkGreen);
}
.storeSearchBgc {
  border-radius: 0.6vw;
  background-color: #EEEEEE;
  box-shadow: 0 0 0.3vw 0.1vw rgba(114, 114, 114, 0.2);
  display: flex;
  align-items: center;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  height: 6.5vh;
}
.groupStoreSearchBgc {
  border-radius: 0.6vw;
  background-color: #EEEEEE;
  box-shadow: 0 0 0.3vw 0.1vw rgba(114, 114, 114, 0.2);
  display: flex;
  align-items: center;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  height: 6vh;
  margin-left: -3vw;
  margin-right: 1vw;
}
.addStoreBoxMobile {
  margin-top: 2vh;
}
.storeSearchBgcMobile {
  margin-top: 2vh;
  border-radius: 2.6vw;
  background-color: #EEEEEE;
  box-shadow: 0 0 0.4vw 0.1vw rgba(114, 114, 114, 0.2);
  display: flex;
  align-items: center;
  padding-left: 0.4vw;
}
.storeSearchInput {
  width: 60%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 0.8vw;
  font-size: 1.2vw;
}
.storeSearchInputMobile {
  width: 57%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 3vw;
  font-size: 4vw;
  height: 6.5vh;
}
.searchBtn {
  background-color: var(--mainDarkGreen);
  color: white;
  border: none;
  width: 30%;
  font-size: 1.3vw;
  height: 4.8vh;
  border-radius: 0.4vw;
  cursor: pointer;
}
.searchBtnMobile {
  background-color: var(--mainDarkGreen);
  color: white;
  border: none;
  width: 33%;
  font-size: 4.2vw;
  height: 4.8vh;
  border-radius: 1.5vw;
  cursor: pointer;
  margin-right: 1.8vw;
}
.searchDeleteClass {
  width: 0.8vw;
}
.searchDeleteClassMobile {
  width: 3vw;
}
.searchDeleteBox {
  width: 10%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.storeMore {
  width: 1.5vw;
  margin-top: -2vh;
}
.storeMoreMobile {
  width: 3vw;
  margin-top: -2vh;
}
.storeMoreBox {
  cursor: pointer;
}
.popOverText {
  color: #EEEEEE;
  cursor: pointer;
}
.popOverText:hover {
  color: #EEEEEE;
}
.ant-popover-placement-bottomLeft  .ant-popover-inner {
  background-color: #505050;
  border-radius: 1vw;
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
}
.ant-popover-placement-bottomLeft .ant-popover-inner-content {
  background-color: #505050;
  border-radius: 1vw;
  padding: 1vh 1vw;
  width: 13vw;
}
.ant-popover-placement-bottomLeft .ant-popover-arrow-content {
  background-color: #505050;
}
.storeDivider {
  border-color: #EEEEEE;
  margin: 0.6vw 0;
}
.storeConfirm .ant-popover-inner-content, .storeConfirm .ant-popover-arrow-content {
  background-color: var(--infoBgBlack);
}
.storeConfirm .ant-popover-inner {
  background-color: transparent;
}
.storeConfirm .ant-popover {
  width: 23vw;
}
.draw {
  position: fixed;
  bottom: 1vh;
  left: 1.5vw;
  z-index: 10;
  width: 8vw;
  cursor: pointer;
}
.drawCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drawTitle {
  width: 14vw;
  height: 9vh;
  border: 0.3vw solid var(--noYellow);
  border-radius: 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
  font-weight: 400;
  cursor: pointer;
  margin-top: 2vh;
}
.drawResult {
  width: 14vw;
  height: 6vh;
  border: 0.2vw solid var(--lightGray);
  border-radius: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  font-weight: 400;
  cursor: pointer;
  color: var(--lightGray);
  margin-top: 5vh;
  margin-bottom: 8vh;
  padding: 4vh 0.6vw;
}
.drawModalBox .ant-modal-title {
  font-size: 2vw;
  font-weight: 400;
  margin-top: 3vh;
  margin-left: 2vw;
  letter-spacing: 0.1vw;
}
.drawModalBox .ant-modal-content, .drawModalBox .ant-modal-header {
  border-radius: 2vw;
}
.groupOrderBtn {
  width: 70%;
  margin-left: 5vw;
  cursor: pointer;
}
.groupOrderHover {
  position: absolute;
  right: 7vw;
  width: 120%;
  top: 5vh;
  display: none;
}
.groupOrderBtnBox:hover .groupOrderHover {
  display: block;
}
.groupOrderModalBox .ant-modal-content, .groupOrderModalBox .ant-modal-header {
  border-radius: 1.8vw;
}
.groupOrderModalOrLine {
  height: 88%;
}
.groupOrderModalOrLineBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62vh;
}
.groupOrderModalInnerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.getCodeBtn {
  width: 16vw;
  cursor: pointer;
}
.getCodeText {
  font-size: 1.8vw;
  font-weight: 700;
  letter-spacing: 0.08vw;
  margin-top: 3vh;
  color: var(--wordDarkGreen);
}
.code {
  border: 0.29vw solid var(--mainDarkGreen);
  width: 15.4vw;
  height: 9.2vh;
  border-radius: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.2vh;
  color: var(--noYellow);
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: -0.1vw;
}
.shareCodeText {
  font-size: 1.6vw;
  margin-top: 5.2vh;
  width: 70%;
  color: var(--wordDarkGreen);
}
.inputCodeText {
  font-size: 2vw;
  font-weight: 700;
  color: var(--wordDarkGreen);
  width: 90%;
  margin-top: 2vh;
}
.inputCodeText1 {
  margin-top: 0.5vh;
}
.inputCodeBox {
  border: 0.29vw solid var(--mainDarkGreen);
  width: 15.4vw;
  height: 9.2vh;
  border-radius: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8.5vh;
}
.inputCode {
  color: var(--noYellow);
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: -0.1vw;
  border: none;
  outline: none;
  width: 80%;
  margin-top: 3vh;
  background-color: transparent;
}
.confirmCode {
  background-color: var(--lightGreen);
  width: 10vw;
  height: 7vh;
  border-radius: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--butterWhite);
  font-size: 1.9vw;
  letter-spacing: 0.1vw;
  margin-top: 9vh;
  border: none;
}
.confirmCode:hover {
  background-color: var(--lightGreen);
  width: 10vw;
  height: 7vh;
  border-radius: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--butterWhite);
  font-size: 1.9vw;
  letter-spacing: 0.1vw;
  margin-top: 9vh;
  border: none;
}
.confirmCode:focus {
  background-color: var(--lightGreen);
  width: 10vw;
  height: 7vh;
  border-radius: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--butterWhite);
  font-size: 1.9vw;
  letter-spacing: 0.1vw;
  margin-top: 9vh;
  border: none;
}
.storeListStar {
  width: 1.5vw;
  margin-left: 0.5vw;
  margin-top: -0.6vh;
}
/* AddStore~1134 */
.addBgc {
  background-color: var(--mainLightGreen);
  width: 100%;
  height: 100vh;
  padding-top: 22vh;
}
.addBgcMobile {
  background-color: var(--mainLightGreen);
  width: 100%;
  height: 100vh;
  padding-top: 18vh;
}
.typeBtnBox {
  display: flex;
}
.typeBtnBoxMobile {
  display: flex;
  justify-content: center;
}
.activeFoodsBtn {
  height: 7.4vh;
  width: 12.2vw;
  border-style: solid;
  border-radius: 3.6vh;
  border-color: var(--butterWhite);
  background-color: var(--mainMediumGreen);
  color: var(--butterWhite);
  font-size: 2vw;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 2.8vw;
}
.activeFoodsBtnMobile {
  height: 5.5vh;
  width: 34vw;
  border-style: solid;
  border-radius: 3.6vh;
  border-color: var(--butterWhite);
  background-color: var(--mainMediumGreen);
  color: var(--butterWhite);
  font-size: 5vw;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 2.8vw;
}
.typeBtn {
  height: 7.4vh;
  width: 12.2vw;
  border-style: solid;
  border-radius: 3.6vh;
  border-color: var(--butterWhite);
  color: var(--wordDarkGreen);
  font-size: 2vw;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 2.8vw;
}
.typeBtn:hover {
  background-color: var(--mainMediumGreen);
  color: var(--butterWhite);
}
.typeBtnMobile {
  height: 5.5vh;
  width: 34vw;
  border-style: solid;
  border-radius: 3.6vh;
  border-color: var(--butterWhite);
  color: var(--wordDarkGreen);
  font-size: 5vw;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 2.8vw;
}
.typeBtnMobile:hover {
  background-color: var(--mainMediumGreen);
  color: var(--butterWhite);
}
.activeDrinksBtn {
  height: 7.4vh;
  width: 12.2vw;
  border-style: solid;
  border-radius: 3.6vh;
  border-color: var(--butterWhite);
  background-color: var(--mainMediumGreen);
  color: var(--butterWhite);
  font-size: 2vw;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.activeDrinksBtnMobile {
  height: 5.5vh;
  width: 34vw;
  border-style: solid;
  border-radius: 3.6vh;
  border-color: var(--butterWhite);
  background-color: var(--mainMediumGreen);
  color: var(--butterWhite);
  font-size: 5vw;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.addForm {
  padding-left: 6vw;
  padding-right: 9vw;
}
.addFormMobile {
  margin-top: 10vh;
  padding: 0 5vw;
}
.formItem {
  margin-top: 5vh;
  border-bottom: var(--butterWhite) 0.4vw solid;
  height: 7.5vh;
  padding-left: 0.4vw;
}
.formItemMobile {
  margin-top: 4vh;
  border-bottom: var(--butterWhite) 0.8vw solid;
  height: 5vh;
  padding-left: 0.4vw;
}
.formItemTitle {
  color: var(--wordDarkGreen);
  font-size: 1.4vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  height: 6vh;
  display: flex;
  align-items: center;
  border-right: var(--butterWhite) 0.2vw solid;
}
.formItemTitleMobile {
  color: var(--wordDarkGreen);
  font-weight: 500;
  letter-spacing: 0.1vw;
  height: 4vh;
  display: flex;
  align-items: center;
  border-right: var(--butterWhite) 0.2vw solid;
}
.addCancelBtn {
  color: var(--mainDarkGreen);
  background-color: var(--butterWhite);
  width: 11.4vw;
  height: 7vh;
  font-size: 1.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8vh;
  letter-spacing: 0.1vw;
}
.addCancelBtnMobile {
  color: var(--mainDarkGreen);
  background-color: var(--butterWhite);
  width: 30vw;
  height: 5.2vh;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8vh;
  letter-spacing: 0.1vw;
}
.addBtns {
  margin-top: 6vh;
  display: flex;
}
.addBtnsMobile {
  margin-top: 5vh;
}
.addCreateBtn {
  color: var(--butterWhite);
  background-color: var(--lightGreen);
  width: 11.4vw;
  height: 6.9vh;
  font-size: 1.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8vh;
  letter-spacing: 0.1vw;
  border-color: transparent;
}
.addCreateBtnMobile {
  color: var(--butterWhite);
  background-color: var(--lightGreen);
  width: 30vw;
  height: 5.2vh;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8vh;
  letter-spacing: 0.1vw;
  border-color: transparent;
}
.addCreateBtn:hover, .addCreateBtn:focus {
  background-color: var(--lightGreen);
  border-color: transparent;
  color: var(--butterWhite);
}
.addCreateBtnMobile:hover, .addCreateBtnMobile:focus {
  background-color: var(--lightGreen);
  border-color: transparent;
  color: var(--butterWhite);
}
.addInputs {
  height: 7vh;
  background-color: transparent;
  width: 110%;
  border-style: none;
  outline: none;
  font-size: 1.3vw;
  color: var(--wordDarkGreen);
}
.addInputsMobile {
  background-color: transparent;
  width: 120%;
  border-style: none;
  outline: none;
  font-size: 4vw;
  color: var(--wordDarkGreen);
}
.ant-input[disabled] {
  background-color: transparent;
  border-style: none;
  outline: none;
  color: var(--wordDarkGreen);
}
.ant-input:focus {
  box-shadow: none;
}
.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  background-color: transparent;
  border: none;
}
.uploadMenuBox .ant-upload.ant-upload-drag {
  height: 60%;
  width: 100%;
  border: 0.4vw dashed var(--mainDarkGreen);
}
.uploadMenuBoxMobile .ant-upload.ant-upload-drag {
  height: 100%;
  width: 100%;
  border: 0.7vw dashed var(--mainDarkGreen);
}
.uploadMenuBoxMobile {
  padding: 0 5vw;
}
.uploadMenuBox {
  padding: 0 5vw;
}
.uploadTitle {
  color: var(--wordDarkGreen);
  font-size: 1.5vw;
  margin-left: 0.8vw;
  letter-spacing: 0.1vw;
  font-weight: 400;
}
.uploadTitleMobile {
  color: var(--wordDarkGreen);
  font-size: 4.5vw;
  margin-left: 1.5vw;
  letter-spacing: 0.1vw;
  font-weight: 500;
}
.dragger {
  margin-top: 3vh;
}
.draggerMobile {
  margin-top: 1vh;
}
.uploadMenuBox .anticon svg {
  color: var(--mainDarkGreen);
}
.uploadMenuBoxMobile .anticon svg {
  color: var(--mainDarkGreen);
}
/* Cart~1368 */
.cartTitle {
  font-size: 2.6vw;
  color: var(--mainDarkGreen);
  font-weight: bold;
  letter-spacing: 0.1vw;
  margin-bottom: 4vh;
}
.cartTitleMobile {
  font-size: 6vw;
  color: var(--mainDarkGreen);
  font-weight: bold;
  letter-spacing: 0.1vw;
  margin-bottom: 1.4vh;
  display: flex;
  justify-content: center;
}
.cartBox {
  margin-top: 14vh;
  padding: 0 4vw;
}
.cartStoreName {
  font-size: 1.8vw;
  color: var(--wordDarkGreen);
  font-weight: bold;
  padding: 1.3vh 1vw;
}
.cartStoreNameMobile {
  font-size: 5vw;
  color: var(--wordDarkGreen);
  font-weight: bold;
  padding: 1.3vh 1vw;
}
.cartStoreMoneyMobile {
  font-size: 4vw;
  color: var(--wordDarkGreen);
  font-weight: bold;
  padding: 1.6vh 1vw;
}
.cartPhone {
  letter-spacing: 0;
  color: var(--lightGray);
  font-size: 1.5vw;
  margin-left: 2vw;
  font-weight: bold;
}
.cartPhoneMobile {
  letter-spacing: -0.4vw;
  color: var(--lightGray);
  font-size: 1.5vw;
  margin-left: 2vw;
  font-weight: bold;
}
.cartBlockTitles {
  padding-left: 1.5vw;
  padding-top: 1.3vh;
}
.cartBlockTitle {
  color: var(--lightGray);
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
}
.cartBlockContents {
  padding: 4vh 1.5vw;
  border-bottom: 0.15vw solid lightgray;
}
.cartBlockContentsMobile {
  padding: 2vh 1.5vw;
  border-bottom: 0.2vw solid lightgray;
}
.cartBlockContent {
  font-size: 1.8vw;
  color: var(--wordDarkGreen);
}
.cartBlockContentMobile {
  font-size: 4.8vw;
  color: var(--wordDarkGreen);
}
.cartDelete {
  width: 1vw;
  cursor: pointer;
}
.cartBlockContent2 {
  padding-left: 0.5vw;
  font-size: 1.5vw;
}
.cartBlockContent2Mobile {
  padding-left: 0.5vw;
  font-size: 3.5vw;
  margin-top: 0.4vh;
}
.cartBlockContent3 {
  padding-left: 1vw;
  font-size: 1.5vw;
}
.cartBlockContent3Mobile {
  font-size: 4vw;
  display: flex;
  align-items: center;
}
.cartMarkPaying {
  border: 0.2vw solid var(--mainDarkGreen);
  color: var(--mainDarkGreen);
  font-size: 1.4vw;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
  letter-spacing: 0.1vw;
  height: 5.5vh;
  width: 80%;
  cursor: pointer;
}
.cartMarkPayingMobile {
  border: 0.55vw solid var(--mainDarkGreen);
  color: var(--mainDarkGreen);
  font-size: 3.8vw;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  letter-spacing: 0.3vw;
  height: 4.8vh;
  width: 90%;
  cursor: pointer;
}
.cartMarkPaying:hover, .cartFinish:hover, .cartMarkPayingMobile:hover {
  background-color: var(--mainMediumGreen);
  color: white;
}
.cartFinish {
  border: 0.2vw solid var(--mainDarkGreen);
  color: var(--mainDarkGreen);
  font-size: 1.4vw;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
  letter-spacing: 0.1vw;
  height: 5.5vh;
  width: 80%;
  cursor: pointer;
}
.cartFinishMobile {
  border: 0.55vw solid var(--mainDarkGreen);
  color: var(--mainDarkGreen);
  font-size: 3.8vw;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  letter-spacing: 0.3vw;
  height: 4.8vh;
  width: 90%;
  cursor: pointer;
}
.cartBtnBox {
  display: flex;
  justify-content: end;
}
.cartBtnsBox {
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.cartBtnsBoxMobile {
  margin-top: 3vh;
  margin-bottom: 4vh;
}
.checkPay {
  margin-right: 1.5vw;

}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--lightGreen);
  border-color: var(--lightGray);
}
.ant-popover-inner-content {
  background-color: var(--infoBgBlack);
  border-radius: 0.5vw;
}
.ant-popover-message-title {
  color: var(--butterWhite);
}

.ant-popover-buttons .ant-btn {
  background-color: transparent;
  border: none;
  color: var(--noYellow);
}
.ant-popover-buttons .ant-btn-primary {
  color: var(--yesRed);
}
.modalIcon {
  color: var(--noYellow);
  margin-right: 1.6vw;
}
.modalTitle {
  color: var(--infoBgBlack);
  font-weight: 400;
  font-size: 1.4vw;
}
.ant-modal-header, .ant-modal-footer {
  border: none
}
.ant-modal-header {
  padding-top: 1.6vw;
}
.ant-modal-footer {
  padding-bottom: 1.6vw;
  padding-right: 1.6vw;
}
.modalText {
  padding: 0 3vw;
  color: var(--infoBgBlack);
  font-size: 1.2vw;
  font-weight: 400;
}
.modal .ant-modal-content {
  width: 35vw;
  margin: auto;
}
.modalMobile .ant-modal-content {
  width: 80vw;
  margin: auto;
}
.modal .ant-btn-primary, .modalMobile .ant-btn-primary {
  background-color: var(--hoverBlue);
}

/* Menu~1464 */
.menuImg {
  background-color: var(--mainLightGreen);
  height: 74vh;
  margin-top: 1.5vh;
}
.menuImgHead {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5vh;
}
.menuBox {
  margin-top: 15vh;
  padding: 0 4vw;
}
.MenubackToStore {
  color: var(--mainDarkGreen);
  font-size: 1.4vw;
}
.MenuToUrl {
  color: var(--mainDarkGreen);
  font-size: 1.4vw;
  text-decoration: underline;
}
.menuRightBox {
  height: 80vh;
  border-left: 0.2vw solid var(--mainMediumGreen);
  margin-top: 1.5vh;
}
.menuLeftBox {
  padding-right: 4vw;
}
.MenubackToStore:hover {
  color: var(--mainDarkGreen);
} 
.MenuToUrl:hover {
  color: var(--mainDarkGreen);
  text-decoration: underline;
}
.orderBox {
  padding-left: 3vw;
  border-bottom: 0.2vw solid var(--mainDarkGreen);
}
.rateBox {
  padding-left: 3vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}
.orderTitle {
  color: var(--mainDarkGreen);
  font-size: 1.8vw;
  font-weight: 500;
  letter-spacing: 0.05vw;
}
.commentsBox {
  border: 0.05vw solid #989898;
  border-radius: 0.4vw;
  padding: 1vh 1vw;
  margin-top: 1vh;
  height: 25vh;
  overflow: auto;
}
.commentName {
  color: var(--mainDarkGreen);
  font-size: 1.6vw;
  font-weight: 600;
  letter-spacing: 0.04vw;
}
.commentsAndTime {
  display: flex;
  justify-content: space-between;
}
.comments {
  color: var(--mainDarkGreen);
  font-size: 1.3vw;
  font-weight: 500;
  letter-spacing: 0.05vw;
  margin-top: 0.5vh;
}
.commentTime {
  color: var(--mainDarkGreen);
  font-size: 1vw;
  font-weight: 400;
}
.aComment {
  margin-bottom: 1.2vh;
}
.rateNickname {
  margin-top: 2.6vh;
  color: var(--mainDarkGreen);
  font-size: 1.5vw;
  font-weight: 600;
  letter-spacing: 0.04vw;
}
.starBtnsBox {
  display: flex;
  margin-top: 2vh;
}
.contentStars {
  width: 1.7vw;
  margin-right: 0.18vw;
}
.starRateRow {
  display: flex;
  justify-content: space-between;
}
.inputOrder {
  border: 0.2vw solid var(--mainMediumGreen);
  border-radius: 0.5vw;
  margin-top: 1vh;
  height: 9vh;
  background-color: transparent;
}
.inputOrder:hover, .inputOrder:focus {
  border: 0.2vw solid var(--mainMediumGreen);
}
.inputSumBox {
  display: flex;
  margin-top: -1vh;
}
.inputSum {
  border: 0.2vw solid var(--mainMediumGreen);
  border-radius: 0.5vw;
  background-color: transparent;
  width: 8vw;
  height: 5.5vh;
}
.sumTitle {
  margin-top: 1vh;
}
.sumAndSend {
  display: flex;
  justify-content: space-between;
}
.inputSum:hover, .inputSum:focus {
  border: 0.2vw solid var(--mainMediumGreen);
}
.sendOrderBtn {
  color: white;
  background-color: var(--mainMediumGreen);
  border: none;
  height: 5.5vh;
  width: 9vw;
  margin-top: -1vh;
  border-radius: 0.8vh;
  font-size: 1.3vw;
  letter-spacing: 0.1vw;
  font-weight: 500;
}
.sendOrderBtn:hover, .sendOrderBtn:focus {
  color: white;
  background-color: var(--mainMediumGreen);
  border: none;
}
/* Signin~1567 */
.signinForm {
  width: 70%;
}
.signinTitle {
  margin-top: 20vh;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 0.1vw;
}
.signinLabel {
  font-size: 1.2vw;
  letter-spacing: 0.1vw;
  font-weight: 500;
  margin-top: 4vh;
}
.signupLabel {
  font-size: 1.2vw;
  letter-spacing: 0.1vw;
  font-weight: 500;
  margin-top: 3vh;
}
.signinLeftBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signinInput {
  border: none;
  outline: none;
  background-color: #E2EAE9;
  height: 7vh;
  border-radius: 0.2vw;
}
.signinLeftBox .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  border: none;
  outline: none;
  background-color: #E2EAE9;
  height: 7vh;
  border-radius: 0.2vw;
}
.passwordForm .ant-input {
  background-color: transparent;
}
.signinSigninButtonBox {
  width: 100%;
}
.signinSigninBtn {
  background-color: var(--hoverBlue);
  color: white;
  font-weight: 600;
  border: none;
  width: 8vw;
  height: 6.3vh;
  border-radius: 0.4vw;
  font-size: 1.3vw;
  float: right;
}
.signupSignupBtn {
  margin-top: 1.5vh;
}
input#signin_password.ant-input {
  margin-top: -0.5vh;
}
.signinSigninBtn:hover, .signinSigninBtn:focus {
  background-color: var(--hoverBlue);
  color: white;
  font-weight: 600;
  border: none;
  width: 8vw;
  height: 6.3vh;
  border-radius: 0.4vw;
}
.signinTosignup {
  position: absolute;
  bottom: 38vh;
  width: 20vw;
  height: 6vh;
  left: 15vw;
  background: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-signin-toSignup.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.signinTosignup:hover  {
  background: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-signin-toSignupHover.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.signupToSignin {
  position: absolute;
  bottom: 38vh;
  width: 20vw;
  height: 6vh;
  left: 15vw;
  background: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-signup-toSignin.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.signupToSignin:hover  {
  background: url('https://raw.githubusercontent.com/wuret-ncu/wubereats-blueteam/huoh/src/img/btn-signup-toSigninHover.png');
  background-size: contain;
  background-repeat: no-repeat;
}
/* profile~1661 */
.profileEditIcon {
  width: 2vw;
  margin: 0 1vw;
}
.profileBgc {
  margin-top: 15vh;
  padding: 0 4vw;
}
.profileTitle {
  color: var(--lightGray);
  font-weight: 700;
  letter-spacing: 0.1vw;
  font-size: 1.6vw;
}
.profileLabel {
  color: var(--lightGray);
  font-weight: 700;
  letter-spacing: 0.1vw;
  font-size: 1.4vw;
}
.editProfileFormBgc {
  padding: 0 4vw;
}
.editProfileRow {
  margin-top: 5vh;
}
.straightLine {
  margin-left: 2vw;
  height: 6.5vh;
}
.resetPasswordBtn {
  cursor: pointer;
  color: #525252;
  font-weight: 700;
  font-size: 1.4vw;
  margin-left: 2vw;
  text-shadow: 0.1em 0.1em 0.3em #C1C1C1;
}
.editProfileBtns {
  display: flex;
  justify-content: flex-end;
  margin-top: 1vh;
}
.profileLogoutIcon {
  width: 1.6vw;
  margin-right: 0.5vw;
}
.saveChangesBtn {
  background-color: var(--mainDarkGreen);
  color: white;
  font-size: 1.4vw;
  padding: 0 1.5vw;
  letter-spacing: 0.1vw;
  border-radius: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5vh;
  cursor: pointer;
}
.profileLogoutBtn {
  color: var(--mainDarkGreen);
  border: 0.2vw solid var(--mainDarkGreen);
  font-size: 1.4vw;
  padding: 0 1.5vw;
  letter-spacing: 0.1vw;
  border-radius: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5vh;
  margin-left: 2vw;
  cursor: pointer;
}
.profileName {
  color: #525252;
  font-weight: 600;
  letter-spacing: 0.1vw;
  font-size: 1.4vw;
  margin-left: 2vw;
}
.pastOrderColTitle {
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vh 0;
  color: #525252;
  font-size: 1.2vw;
  font-weight: 700;
  letter-spacing: 0.1vw;
}
.pastOrders {
  margin-top: 2vh;
}
.pastOrderBorder {
  border-right: 0.2vw solid white;
}
.pastOrderContent {
  display: flex;
  justify-content: center;
  padding: 2.5vh 1vw;
  font-size: 1vw;
  letter-spacing: 0.05vw;
}
.pastOrderContentsRow {
  background-color: white;
  border-bottom: 0.2vh solid #EEEEEE;
}
.pastOrderContentsRow:hover {
  background-color: #FAFAFA;
}

/* for useBreakpoint */
.displayNone {
  display: none;
}
.ant-layout-header {
  padding-left: 4.2vw;
  padding-right: 4.2vw;
}
.menuMobile {
  width: 6vw;
}
.logoMobile {
  width: 9vw;
  margin-right: -8vw;
}
/* RWD Container */
/* sm */
/* @media (min-width: 576px) {
  .container {
    width: 540px;
  }
} */

/* md */
/* @media (min-width: 768px) {
  .container {
    width: 720px;
  }
} */

/* lg */
/* @media (min-width: 992px) {
  .container {
    width: 960px;
  }
} */